$primary-font: 'Open Sans', sans-serif;
$heading-font: 'Prompt', sans-serif;
$bg-black: #1C1C1C;
$bg-nav:  #b5c3cc;
$dark-blue:  #1D3557;
$dark-orange: #BC6C25;
$dark-red: rgb(186, 56, 56);
$link-bl-nav: #283618;
$link-bl: #00aad4ff;
$desktop-page-sp: 100px;
$container-padding-sm: 24px;
$container-padding-lg: 96px;
$box-border-radius: 10px;
$text-block-width: 700px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $primary-font;
}

footer {
  background: $bg-black;
  min-height: 100px;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
}

h1, h2 {
  font-family: $heading-font;
  font-weight: bold;
  padding: 20px 0;
  color: $dark-red;
}

h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: bold;
  // padding: 10px 0;
  margin-top: 10px;
  color: $dark-red;
}

p {
  line-height: 2rem;
}

a, a:visited {
  text-decoration: none;
  color: $link-bl;
}

a:hover {
  opacity: 0.5;
}

li {
  padding: 5px;
}

hr {
  border: 1px solid $bg-nav;
  border-radius: 1px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-sm;
  padding-right: $container-padding-sm;

  &__text {
    max-width: $text-block-width;
    margin-left: auto;
    margin-right: auto;
    text-align: justify; 
  }
}

.page-content {
  padding: 0;
  margin: 40px 0 80px 0;
}

.icons:hover{
  opacity: 0.5;
}

.main-content {
  flex: 1;
}

.dark-blue {
  color: $dark-blue;
}

.dark-orange {
  color: $dark-orange;
}


.top-nav {
  list-style-type: none;
  background-color: $bg-nav; //#cacaca;
  border-bottom: 4px solid $dark-red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & li a {
    color: $link-bl-nav;
    display: block;
  }
  
  &__logo {
    font-size: 20px;
    max-width: 200px;
    height: 100%;
    padding: 20px 40px;
    font-family: $heading-font;
    font-weight: bold;

    & a {
      max-width: 100px;
      color: $link-bl-nav;
      display: block;
    }
  }
}

// Footer area

.footer-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;

  &__left-group {
    width: 60%;
    color: white;

    & p {
      width: 50%;
    }
  }

  &__site-name {
    font-size: 1.5rem;
    font-family: $heading-font;
  }

  &__right-group {
    width: 40%;
    text-align: right;
    margin-top: auto;

    & a {
      color: white;
    }
  }
}

.home-page-heading {
  text-align: center;
  margin-bottom: 20px;

  &__title {
    width: auto;
    font-family: $heading-font;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    //border-top: solid;
    //border-color: $bg-nav;
    color: $dark-red;
  }

  &__subtitle {
    font-size: 1.1rem;
    color: $bg-nav;
  }
}

.home-page-intro {
  margin-bottom: 20px;
}

.news-list-item {
    max-width: $text-block-width;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 5px;

    &__date {
      color: $bg-nav;
      margin-bottom: 5px;
    }

    &__title {
      margin-bottom: 5px;
      padding-bottom: 0px;
      margin-top: 5px;
      padding-top: 0px;
    }
}

.flexbox-container {
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

.flexbox-item {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

.research-item {
    min-height: 280px;

    &__top {
      display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    // &__bottom {
    //     //margin: auto;
    // }

    &__name {
        text-align: center;
        font-family: $heading-font;
        font-weight: bold;
        font-size: 1.4rem;
        color: $dark-red;
        margin-bottom: 5px;
    }

    &__position {
        text-align: center;
    }
  }

.people-item {
    display: block;
    margin: auto;

    &__top {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    &__bottom {
        margin: auto;
    }

    &__name {
        text-align: center;
        font-family: $heading-font;
        font-weight: bold;
        font-size: 1.4rem;
        color: $dark-red;
        margin-bottom: 5px;
    }

    &__position {
        text-align: center;
    }
}

.people-single {
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  height: 260px;

  &__portrait {
    width: 200px;
    margin-right: 40px;
  }

  &__info {
    width: 500px;
  }

  &__name {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 2.5rem;
    color: $dark-red;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  &__position {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  &__content {
    max-width: 700px;
    margin: auto;


    & td {
      padding: 5px;
    }
  }

  &__resources {
    margin-left: auto;
    margin-right: 0px;
    display: flex;

    &__icon {
      width: 20px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

@media (max-width: 768px) {
  .people-single {
    flex-direction: column-reverse;
    height: auto;

    &__portrait {
      width: 200px;
      margin: auto;
    }

    &__info {
      width: auto;
      margin:auto;
    }

    &__resources {
      display: flex;
      width: 60%;
      margin: auto;

      &__item {
        margin: 0 auto;
      }
    }

    &__name {
      text-align: center;
    }
    &__position {
      text-align: center;
    }
  }
}

.publication-list {
  &__ref-link {
    font-style: italic;
  }

  &__arXiv-link{
    &__icon {
      height: 1.2rem;
      margin-bottom: -4px;
    }
  }

  &__year {
    padding: 10px 0;
  }

  &__year-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &__link {
      flex-direction: column;
      padding: 2px 5px;
      margin: 2px;
      background-color: $bg-nav;//$link-bl;
      border-radius: 4px;
      color: white;

      // & a {
      //   color: white;
      // }
      
    }

  }

}

.publication-single {

  &__head {
    display: flex;
    margin-bottom: 40px;
  }

  &__image {
    display: block;
    max-width: 40%;
    margin-right: 40px;
    object-fit: contain;
  }

  &__info {
    max-width: 60%;
    align-self: center;
    margin-bottom: 30px;
  }

  &__ref {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    align-content: right;
    margin-bottom: 20px;

    &__authors {
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__journal {
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
    }
  }


  &__title {
    //font-size: 0.1rem;
    padding:0;
    padding-bottom: 20px;
  }

  &__content {
    text-align: justify;
    
    & td {
      padding-left: 5px;
      padding-right: 5px;
    }
    & ul {
      margin-left: 30px;
    }
    & tr:nth-child(even) {
      background-color: #0000000e;
    }

    & th {
      padding-left: 5px;
      padding-right: 5px;
      background-color: #0000000e;
    }
  }
}

.publication-ref {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__authors {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__journal {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__link {
    font-style: italic;
  }

  &__arXiv-link{
    &__icon {
      height: 1.2rem;
      margin-bottom: -4px;
    }
  }
}

.teaching-list {
  &__term {
    color: $dark-red;
    font-family: $heading-font;
    //font-weight: bold;
    font-size: 1.1rem;
    margin-right: 15px;
  }
}

.teaching-single {

  &__head {
    display: flex;
    margin-bottom: 10px;
  }

  &__image {
    display: block;
    max-width: 50%;
    margin-right: 40px;
    object-fit: contain;
  }

  &__info {
    max-width: 50%;
    align-self: center;
    margin-bottom: 30px;
  }

  &__author-date {
    width: 100%;
    margin-right:0;
    //margin-left: 20px;
    & span {
      display: block;
      padding: 10px 0;
      //text-align: right;
    }
  }

  &__title {
    //font-size: 1rem;
    padding:0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }

  &__semester {
    color: $bg-nav;
    margin-bottom: 10px;
    font-style: italic;
  }

  &__teachers {
    //color: $bg-nav;
    margin-bottom: 10px;
    font-style: italic;
  }

  &__content {
    text-align: justify;

    & td {
      padding-left: 5px;
      padding-right: 5px;
    }
    & ul {
      margin-left: 30px;
    }
    & tr:nth-child(even) {
      background-color: #0000000e;
    }

    & th {
      padding-left: 5px;
      padding-right: 5px;
      background-color: #0000000e;
    }
  }
}

.research-single {

  &__head {
    display: flex;
    margin-bottom: 40px;
  }

  &__image {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin-right: 40px;
    object-fit: contain;
  }

  &__info {
    max-width: 100%;
    align-self: center;
    //margin-bottom: 30px;
  }

  &__author-date {
    width: 100%;
    margin-right:0;
    //margin-left: 20px;
    & span {
      display: block;
      padding: 10px 0;
      //text-align: right;
    }
  }

  &__title {
    //font-size: 0.1rem;
    padding:0;
    //padding-bottom: 20px;
  }

  &__content {
    text-align: justify;
    
    & td {
      padding-left: 5px;
      padding-right: 5px;
    }
    & ul {
      margin-left: 30px;
    }
    & tr:nth-child(even) {
      background-color: #0000000e;
    }

    & th {
      padding-left: 5px;
      padding-right: 5px;
      background-color: #0000000e;
    }
  }
}

.research-highlight {

  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  &__image {
    display: block;
    max-width: 30%;
    max-height: 250px;
    margin-right: 40px;
    object-fit: contain;
  }

  &__info {
    //max-width: 50%;
    align-self: center;
    margin-bottom: 30px;
  }

  &__reference {
    display: block;
    text-align: right;
    font-style: italic;
  }

  &__title {
    //font-size: 1rem;
    padding:0;
    padding-bottom: 20px;
  }

  &__content {
    text-align: justify;
    margin-bottom: 10px;
  }
}

.joinus-list {
  // display: flex;
  // gap: 0.5em;
  // flex-wrap: wrap;
  // margin-bottom: 20px;

  &__title {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Desktop menu */
@media (min-width: 1025px) {

  .post-preview {
    display: flex;
    margin-bottom: 30px;
  
    &__left {
      max-width: 350px;
      max-height: 300px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;

      .tag-group {
        display: flex;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .top-nav__logo {
    order: 0;
  }

  .top-nav__link-group {
    order: 1;
    position: relative;
    display: flex;
    width: auto;
    margin: 0;
  }

  .top-nav__link {
    order: 1;
    width: 100%;
    text-align: center;
    display: block;
  }


  .featured {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .hero {
    margin-top: 40px;

    &__header {
      top: 50px;
      left: 50px;
      font-size: 3rem;
      text-align: left;
    }
  }

  .container {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
  }

  .footer-content {
    display: flex;

    &__left-group{
      width: 60%;
      & p {
        width: 50%;
      }
    }

    &__right-group {
      width: 40%;
    }
  }
 
}

/* For sticky navbar */
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


/* For hamburger menu */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10%;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-weight: 600;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $link-bl-nav;// #fff;
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 74px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 2px solid $dark-red;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: $bg-nav;// #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  #menu-toggle:checked ~ .menu li:last-child {
    border-bottom: 4px solid $dark-red;
  }

  .footer-content {
    display: flex;

    &__left-group{
      width: 60%;
      display: none;
      & p {
        width: 50%;
      }
    }

    &__right-group {
      width: 40%;
      margin-top: auto;
      margin-left: auto;
    }
  }

}