<!-- <header> -->
  <nav class="sticky">
    <ul class="top-nav">
      <li class="top-nav__logo"><a href="/">CQS</a></li>
      <div class="top-nav__link-group">
        <li class="top-nav__link"><a href="/">Home</a></li>
        <li class="top-nav__link"><a href="/research">Research</a></li>
        <li class="top-nav__link"><a href="/publications">Publications</a></li>
        <li class="top-nav__link"><a href="/people">Team</a></li>
        <li class="top-nav__link"><a href="/teaching">Teaching</a></li>
      </div>
    </ul>
  </nav>
<!-- </header> -->