{{ define "main" }}
  <div class="container__text">
  <h1>Join us</h1>
  {{ .Content }}
  </div>
  <br>
  <div class="container__text">
    <hr>
    <h2>Open positions</h2>
    {{ $subsection := .Site.GetPage "joinus/jobs" }}
    {{ $num_pages := (len $subsection.RegularPages) }}
    {{ if eq $num_pages 0 }}
      We have no openings at this point. 
      If you are nonetheless eager to join our team, we are always open to discuss possibilities to acquire dedicated funding for your position. 
      Don't hesitate to get in touch.
    {{ else }}
      {{ range $subsection.RegularPages }}
        {{ if .Params.active }}
          <div class="joinus-list__title">
            <a class="publication-list-single-link" href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
    <br>
  <div class="container__text">
    <hr>
    <h2>Open projects</h2>
    {{ $num_pages := (len (.Site.GetPage "section" "open_project").Pages) }}
    {{ if eq $num_pages 0 }}
      There are currently no concrete projects. If you have an own idea, or if you would nonetheless like to discuss options, do not hesitate to get in touch.
    {{ else }}
      {{ range (.Site.GetPage "section" "open_project").Pages }}
        {{ if .Params.active }}
          {{ partial "open_project.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
