{{ define "main" }}
  <div class="container__text">
  <h1>Research</h1>
  {{ .Content }}
  </div>
  <div class="flexbox-container"> 
    {{ range (.Site.GetPage "section" "research").Pages }}
      {{ partial "research_area.html" . }}
    {{ end }}
  </div>
  <div class="container__text">
    <hr>
    <h1>Showcase</h1>
    {{ range (.Site.GetPage "section" "publications").Pages }}
      {{ if .Params.highlight }}
        {{ partial "research_highlight.html" . }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}