{{ define "main" }}
  <div class="container__text">
  <h1>Preprints</h1>
  {{ range (.Site.GetPage "section" "publications").Pages }}
    {{ if .Params.Preprint }}
      <div class="preprint-list-item">
        <p><a class="publication-list-single-link" href="{{ .Permalink }}">{{ .Title }}</a></p>
        <p>
          {{ .Params.Authors }}, <i>arXiv:{{ .Params.arxiv }}</i>
          <a class="publication-list-arXiv-link" href="https://arxiv.org/abs/{{ .Params.arxiv }}" target="_blank">
            <img class="people-single__resources__icon" src="https://static.arxiv.org/static/browse/0.3.4/images/icons/favicon.ico">
          </a>
        </p>
      </div>
    {{end}}
  {{ end }}
  <br>
  <h1>Publications</h1>
  {{ $pub_list := (.Site.GetPage "section" "publications").Pages }}
  <div class="publication-list__year-list">
  {{ range $year := (seq (.Date.Format "2006") -1 .Site.Params.Publications.startYear) }}
  <a href="#{{ $year }}"><div class="publication-list__year-list__link">{{ $year }}</div></a>
  {{ end }}
  </div>
  {{ range $year := (seq (.Date.Format "2006") -1 .Site.Params.Publications.startYear) }}
    <h2 class="publication-list__year" id="{{ $year }}">{{ $year }}</h2>
    {{ range $pub_list }}
      {{ if not .Params.Preprint }}
        {{ if eq .Params.Year $year }}
          {{ partial "partials/publication_ref.html" 
            (dict "title" .Title
                  "permalink" .Permalink
                  "authors" .Params.authors 
                  "journalurl" .Params.Journalurl 
                  "journalref" .Params.Journalref 
                  "arxiv" .Params.arxiv) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
  
{{ end }}